@{
    ViewBag.Title = "About";
}


<div class="row withcontent">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>This is Social, a way to connect to comic book characters. </p>
</div>

